* {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: monospace;
    text-decoration: none;
}

:root {
    --c1: #B8B8D1;
    --c2: #5B5F97;
    --c3: #FFC145;
    --c4: #FFFFFB;
    --c5: #db5c5d;
    --c6: #FFFFFB;
    --c7: black;
    --c-trans: #b8b8d154;
    --focus: rgb(255, 255, 87);
    }

.page, .page__inner { 
    width: 100%;
    height: auto;
}

@media (min-width:1920px) {
    .page {
        justify-content: center;
    }

    .page__inner, #header {
        width: 1920px;
    }


}
/**********************/
/*****   HEADER   *****/
/**********************/

.header {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    background: var(--c5);
    position: fixed;
    z-index: 1;
    box-shadow: 0 8px 24px black;
}

.header--toggleMenu {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    left: 40px;
    bottom: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--c6);
    display: none;
}

#toggleMenu {
    display: none;
}

@media (max-width: 800px) {

    .header {
        display: flex;
        width: 130px;
        height: 100%;
        gap: 10px;
        z-index: 1;
        align-content: space-around;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main {
        flex-direction: column;
    }

    .header--toggleMenu {
        position: fixed;
        display: flex;
        z-index: 2;
    }

    
    #toggleMenu:checked ~ .header{
        display: none;
    } 

    #toggleMenu:checked ~ .header{
        animation-duration: 3s;
    } 
    

}

.logo, .logo__img {
    height: 45px;
    width: 45px;
    border-radius: 10px;
}

.main {
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.main__section, .main__section a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--c6);
}

.button {
    border-radius: 10px;
    padding: 4px;
    font-weight: 600;
}

.main__section--color {
    color: var(--c6);
    background: var(--c2);
}

.main__section--trans {
    background: var(--c1);
    border: 1px solid var(--c-trans);
    color: var(--c6);
}

.main__section--trans, .main__section--color {
    border-radius: 10px;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    align-items: center;
    font-weight: 600;
}

/********************/
/*****   HERO   *****/
/********************/

.hero {
    width: 100%;
    height: 500px;
    background: radial-gradient(circle, 
        rgba(45,47,47,1) 0%, 
        rgba(45,47,47,1) 100%, 
        rgba(45,47,47,1) 100%, 
        rgba(170,169,173,1) 100%
        );    
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

@media (min-width: 800px) {
    .hero {
        margin-top: 50px;
    }
}

.hero_block, .block {
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.block__text, .block__img {
    width: 40%;
    height: 80%;
}

.title, .text {
    color: var(--c4);
}

.title, .OurServices__Title, .PorqueElegirnos__Title {
    font-size: 44px;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 40px;
    margin-top: 30px;
}

.text {
    line-height: 20px;
    padding-bottom: 20px;
}

.img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(resources/banner2.svg);
    border-radius: 50%;
}

.button {
    width: 20%;
    border-radius: 10px;
    background: var(--c5);
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.button__text {
    color: var(--c4);
}

@media (max-width: 600px) {
    .hero, .OurServices, .PorqueElegirnos, .Contact {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .img, .block__img {
        display: none;
    }

    .block__text {
        width: 80%;
        height: 100%;
    }

    .title, .text {
        padding-top: 0px;
        margin-top: 0px;
        text-align: center;
    }
}

/****************************/
/*****   Our Services   *****/
/****************************/

.OurServices {
    width: 100%;
    height: auto;
    background-color: var(--c2);
    justify-content: center;
    padding-bottom: 50px;
}

.OurServices--Inner {
    width: 80%;
    gap: 20px;
    justify-content: space-between;
}

.OurServices__Title--Blue {
    color: var(--c1);
    width: 100%;
}

.OurServices__Subtitle {
    color: var(--c2);
    width: 100%;
}

.TestAutomatizado, .TestFuncional, .TestLoadStressPerformance {
    width: 100%;
    border-radius: 10px;
    background: var(--c4);
    justify-content: space-evenly;
}

.TestFuncional, .TestLoadStressPerformance { 
    width: 49%;    
}

.TestAutomatizado__Title, .TestFuncional__Title, .TestLoadStressPerfomance__Title {
    background-color: var(--c5);
    text-transform: uppercase;
    width: 100%;
    padding: 20px;
    font-size: 22px;
    color: var(--c6);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.TestAutomatizado__Text, .TestFuncional__Text, .TestLoadStressPerfomance__Text {
    padding: 20px;
    width: 70%;
    align-items: center;
}

.TestFuncional__Text, .TestLoadStressPerfomance__Text {
    padding: 20px 0px 20px 0px;
}

.TestAutomatizado__Img, .TestFuncional__Img, .TestLoadStressPerfomance__Img {
    width: 100px;
    height: auto;
    margin: 25px;
    background-size: 100px;
}

@media (max-width:1240px) {
    .TestFuncional, .TestLoadStressPerformance { 
        width: 100%;    
    }
}

@media (max-width: 600px) {
    .OurServices--Inner {
        height: auto;
        width: 90%;
    }

    .TestAutomatizado, .TestFuncional, .TestLoadStressPerformance {
        width: 100%;
        height: auto;
    }

    .TestAutomatizado__Img, .TestFuncional__Img, .TestLoadStressPerfomance__Img {
        margin: 10px;
        padding: 0 0 0 0;
    }
}

/********************************/
/*****   PORQUE ELEGIRNOS   *****/
/********************************/

.PorqueElegirnos {
    width: 100%;
    justify-content: center;
    background: #161626d1;    
    padding-bottom: 50px;
}

.PorqueElegirnos__Inner, .PorqueElegirnos__InnerBlocks {
    width: 80%;
    justify-content: space-evenly;
    text-align: center;
}

@media (max-width: 1500px) {
    .PorqueElegirnos__InnerBlocks {
        justify-content: center;
        gap: 50px;
    } 

    .PorqueElegirnos__Inner {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

.PorqueElegirnos__Title {
    width: 100%;
    justify-content: center;
    color: var(--c6);
    padding-bottom: 4rem;
}

.PorqueElegirnos__PEbox, .PEbox {
    width: 250px;
    height: 250px;
    flex-direction: row;
    text-align: -webkit-right;
    justify-content: center;
    background: var(--c5);
    border-radius: 10px;
    padding: 20px 10px;
    border: 2px solid white;
}

.PEbox__title, .PEbox__text {
    text-align: center;
}

.PEbox__title {
    text-transform: capitalize;
    font-weight: bold;
    color: var(--c6);
}

.PEbox__text {
    text-transform: lowercase;
    color: var(--c6);
}

.PEbox__BoxImg, .BoxImg{
    width: 100%;
    justify-content: center;
}
.BoxImg__Img {
    width: 100px;
    height: 100px;
}


@media (max-width: 600px) {
    .PorqueElegirnos__Inner {
        width: 100%;
        gap: 20px;
    }
}

/************************/
/*****   CONTACTO   *****/
/************************/

.contact {
    width: 100%;
    background: var(--c2);
    padding-bottom: 50px;
    padding-top: 40px;
    color: var(--c6);
}

.Contact--inner {
    width: 100%;
    justify-content: space-around;
}

.contact__colbox, .colbox, .form {
    width: 100%;
    height: auto;
}


@media (max-width:1130px) {
    .contact {
        flex-direction: column;
        align-items: center;
    }

    .Contact--inner {
        width: 50%;
        gap: 50px;
    }
}

/******************************/
/*****   CONTACTO - FORM  *****/
/******************************/

.form__ul, .FormUl {
    flex-direction: column;
    width: 100%;
}

.FormUl__box, .FormBox {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--c1);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 2px 2px 2px;
}

.FormUl__box--title, .FormBox--title, .Info__Title {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 2px 2px 2px;
}

.FormBox__name, .FormBox__email, .FormBox__messaje {
    width: 100%;
    border-radius: 10px;
}

.FormBox__messaje {
    height: 150px;
    resize: none;
}

.FormBox__button {
    width: 100%;
    border-radius: 10px;
    background: var(--c5);
    color: var(--c6);
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.FormUl__box--button, .FormBox--button {
    width: 30%;
}

/******************************/
/*****   CONTACTO - MAP  *****/
/******************************/

.colbox_map {
    align-items: center;
}

@media (max-width:400px) {
    .colbox_map {
        display: none;
    }
}

/******************************/
/*****   CONTACTO - INFO  *****/
/******************************/

.Info {
    justify-content: center;
    align-items: center;
}

.Contenido {
    flex-direction: column;
    gap: 20px;
}

.Contenido__direccion, .Contenido__tel, .Contenido__email, .Contenido__redes {
    flex-direction: row;
    gap: 15px;
}

.Contenido__redes {
    margin-top: 10px;
}

/**********************/
/*****   FOOTER   *****/
/**********************/

.footer {
    width: 100%;
    height: 50px;
    background: var(--c7);
    justify-content: center;
    align-content: center;
}

.footer__inner {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__text {
    color: var(--c6);
    font: small-caption;
}

.footer__tabla {
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.tabla__renglon {
    flex-direction: row;
    gap: 5px;
}

@media (max-width: 600px)  {
    .footer {
        z-index: 1;
    }
}

/*********************************/
/*****   LOGIN AND REGISTER  *****/
/*********************************/

.loginRegister {
    justify-content: space-evenly;
    align-items: center;
    background: #161626d1;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    width: 100%;
    height: 660px;
}

@media (max-width: 780px) {
    .loginRegister {
        flex-direction: column;
    }

}

.login__Title, .register__Title {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 2px 2px 2px;
    
}

.login, .register{
    width: 40%;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid var(--c1);
}

.register {
    background: var(--c2);
}

.login {
    background: #00000069;
    color: var(--c6);
    border: 2px solid var(--c4);
}

.login__inner, .register__inner{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    height: 90%;
}

.loginTable__Inner, .registerTable__Inner {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    padding-top: 1.5rem;
}

.loginTable__txtEmail, 
.loginTable__txtPassword,
.loginTable__questions,
.registerTable__txtEmail, 
.registerTable__txtPassword,
.registerTable__questions {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.text-email,
.text-password {
    width: 100%;
    background: white;
    border-radius: 1rem;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.text-email__container,
.text-password__container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.text-email__txt,
.text-password__txt {
    width: 80%;
}

.loginTable__questions, .registerTable__questions {
    flex-direction: row;
    justify-content: space-between;
}

.loginTable__questions--text {
    font-size: 12px;
    color: var(--c-trans);
    text-decoration: none;
    text-transform: lowercase;
}

.login__btnLogIn, .register__btnLogIn {
    width: 20%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 20px;
    background: var(--c5);
    color: var(--c6);
    font-weight: bold;
}

@media (max-width:600px) {
    .login__btnLogIn, .register__btnLogIn  {
        height: 40px;
        width: 40%;
    }

    .register, .login {
        width: 90%;
        height: auto;
    }
}
/**********************/
/*****   POP-UP   *****/
/**********************/

.overlay { 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#popupBody {
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    margin: 20% auto;
    transition: all 5s ease-in-out;
    flex-direction: column;
    gap: 10px;
}

.popupBody--row {
    width: 100%;
    padding: 0px 10px;
}

#cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    transition: all 200ms;
}

@media (max-width: 600px)  {
    #popupBody {
        padding: 2% 8%;
	    height: 90px;
    }
}